{% extends "layout.html" %}
{% block header_css %}
  <head>
      <title>Game Room Tracker</title>
      <link href="/static/select2-4.0.3/select2.min.css" rel="stylesheet" />
  </head>
  {{ super() }}
{% endblock %}
{% block body %}
  <div id="home-page-feedback"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <h3>Game Room Tracker</h3>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-12 col-sm-12">
        <div id='game'></div>
    </div>
  </div>
{% endblock body %}
{% block js_bottom %}
  {{ super() }}
  <script src="/static/select2-4.0.3/select2.min.js"></script>
  <script type='application/javascript'>
    {% include '/js_helpers/feedback.js' %}
    {% include '/js/player.js' %}
    {% include '/js/game.js' %}
    {% include '/js/home.js' %}
  </script>
{% endblock js_bottom %}
