{% extends "layout.html" %}
{% block header_css %}
  <head>
      <title>Game Room Tracker</title>
      <link href="/static/select2-4.0.3/select2.min.css" rel="stylesheet" />
  </head>
  {{ super() }}
{% endblock %}
{% block body %}
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <h3>Game Room Tracker</h3>
    </div>
  </div>
  <hr />
  <div id='game'>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h4>Create a new game</h4>
      </div>
    </div>
    <div class="row">
      <div class='col-md-4 col-sm-4'>
        <select class="form-control" id="game-select">
          <option></option>
          <option>
            Pool - Cut throat
          </option>
          <option>
            Pool - Eight ball
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div id='options' class='col-md-4 col-sm-4'></div>
    </div>
  </div>
{% endblock body %}
{% block js_bottom %}
  {{ super() }}
  <script src="/static/select2-4.0.3/select2.min.js"></script>
  <script type='application/javascript'>
    {% include '/js/player.js' %}
    {% include '/js/game.js' %}
    {% include '/js/home.js' %}
  </script>
{% endblock js_bottom %}
